@import '../../../css/_mixins.scss';

.listingDetailsHeaderContainer {
   display: flex;
   justify-content: space-between;
   padding: var(--spacing-xsmall);
   margin: var(--spacing-medium) 0;

   .listingDetailsHeaderInfos {
      display: flex;
      flex-direction: column;
      gap: var(--gap-xsmall);

      p {
         font-size: var(--font-size-sm);
      }

      span {
         font-size: var(--font-size-xs);
         color: var(--color-dark-grey);
      }

      @include responsive(desktop) {
         p {
            font-size: var(--font-size-2xl);
         }
   
         span {
            font-size: var(--font-size-md);
         }
      }   
   }
}