:root { 
   /* For padding and margins */
   --spacing-xsmall: 0.3125rem; /* 5px */
   --spacing-small: 0.625rem;   /* 10px */
   --spacing-medium: .9375rem;   /* 15px */
   --spacing-large: 1.25rem;    /* 20px */
   --spacing-large-plus: 1.5625rem; /* 25px */
   --spacing-xlarge: 1.875rem;  /* 30px */
   --spacing-xlarge-plus: 2.1875rem;  /* 35px */
   
   /* For gaps */
   --gap-xsmall: 0.3125rem; /* 5px */
   --gap-small: 0.625rem;   /* 10px */
   --gap-medium: .9375rem;  /* 15px */
   --gap-large: 1.25rem;    /* 20px */
   --gap-large-plus: 1.5625rem; /* 25px */
   --gap-xlarge: 1.875rem;  /* 30px */
   --gap-xlarge-plus: 2.5rem;  /* 40px */
}